.form {
  text-align: center;
}

.radio-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.radio-icon {
  mask-size: 100%;
  max-height: 25px;
  max-width: 25px;
}

input[type=radio] {
  margin-right:20px;
  margin-top: 0;
}

input[type=radio]:last-of-type {
  margin-right: 0;
}

input[type=radio]:checked{

}

.clear {
  color: #ccc;
  margin-left: -28px;
  margin-bottom: -3px;
  cursor: pointer;
}

.inputs {
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hint {
  padding: 2px;
  margin-left: 20px;
  cursor: pointer;
}

sub {
  font-size: 10pt;
}

.input-label {
  display: inline-block;
  margin: 3px;
  width: 25px;
  text-align: right;
  font-family: "Overlock", cursive;
  font-size: 16pt;
}

.svg-icon {
  display: flex;
  vertical-align: center;
  justify-content: center;
  width: 48px;
  height: 34px;
  padding: 0 0 0 0;
  mask-position: center, center;
  mask-repeat: space;
}

.icon-load {
  mask-image: url("../../../assets/icons/icon.load.svg");
}

.icon-moment {
  mask-image: url("../../../assets/icons/icon.moment.svg");
}

.icon-distload {
  mask-image: url("../../../assets/icons/icon.distload.svg");
}

.icon-defenition {
  mask-image: url("../../../assets/icons/icon.defenition.svg");
}

.icon-material {
  mask-image: url("../../../assets/icons/icon.material.svg");
}
