.btn {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  font-weight: bolder;
}

.titlepage {
  margin-bottom: 80%;
  margin-top: 20%;
  text-align: center;
  height: 100%;
}

h1 {
  margin: 0px;
  font-size: 48pt;
}