.state-bar {
  position: fixed;
  height: calc(100% - 45px);
  width: 30px;
}

.titlepage {
  text-align: center;
  height: 100%;
}

.info-bar {
  margin-left: 40px;
}


.margin {
  margin-top: 10px;
}

.btn {
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  font-weight: bolder;

}