.state-bar {
  position: fixed;
  margin-top: 10px;
  height: calc(100% - 60px);
  width: 30px;

  .state-icon {
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    font-weight: bolder;

    cursor: pointer;
  }
}

.titlepage {
  text-align: center;
  min-height: 100%;
  padding-top: 115px;
  p, h1 {
    margin: 15px;
  }
  .button {
    margin: 20px;
  }
}

.info-bar {
  margin-left: 45px;

  .anchor {
    height: 5px;
  }
}

