.wrap {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
}

.item {
  height: calc(100% - 20px * 2);
  margin: 15px;
}

.dots {
  position: fixed;
  bottom: 10px;
  width: 200px;
  text-align: center;
  background: yellow;
  left: calc(50% - 200px / 2);
}
