@import "./assets/themes/themes.scss";
@import "./assets/themes/themify.scss";

// CLASSES
.main {
  @include themify() {
    background: key("main");
    color: key("accent")
  }
}

.primary {
  @include themify() {
    background: key("primary");
  }
}

.secondary {
  @include themify() {
    background: key("secondary");
  }
}

.accent {
  @include themify() {
    background: key("accent");
  }
}

.success {
  @include themify() {
    background: key("success");
  }
}

html {
  height: 0px;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0px;
}