@import "./assets/themes/themes.scss";
@import "./assets/themes/themify.scss";

// CLASSES
.main {
  @include themify() {
    background: key("main");
  }
}

.primary {
  @include themify() {
    background: key("primary");
  }
}

.secondary {
  @include themify() {
    background: key("secondary");
  }
}

.accent {
  @include themify() {
    background: key("accent");
  }
}

.success {
  @include themify() {
    background: key("success");
  }
}