/* We'll need some initial vars to use here */
@import "~bulma/sass/utilities/initial-variables";

/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;

/* Base: Color */
$base-color: #051d38;
$base-color-light: #f5f8fa;
$base-gradient: linear-gradient(to right, $base-color, #1e344c);

/* Override Primary */
$primary: #203752;

/* Default font */
// $family-sans-serif: "IBM Plex Sans", sans-serif;

/* Body */
$body-background-color: $base-color-light;

/* Navbar: Bulma override */
$navbar-dropdown-radius: $radius-small;

/* Card: Bulma override */
$card-shadow: none;
$card-header-shadow: none;

/* Card: specifics */
$card-header-border-bottom-color: $base-color-light;

/* Table: Bulma override */
$table-cell-border: 1px solid $white-bis;

/* Table: specifics */
$table-avatar-size: 1.5rem;
$table-avatar-size-mobile: 25vw;

/* Form */
$checkbox-border: 1px solid rgba($base-color, 0.5);

/* Notification: Bulma override */
$notification-radius: $radius-small;
$notification-padding: $default-padding * 0.75 $default-padding;

/* Footer: Bulma override */
$footer-background-color: $white;
$footer-padding: $default-padding * 0.33 $default-padding;
