$themes: (
  light: (
    main: #FFFFFF,
    primary: #e96c4c,
    secondary: #f5f5f5,
    accent: #11191e,
    success: #35b72a
  ),
  dark: (
    main: #141e24,
    primary: #e96c4c,
    secondary: #11191e,
    accent: #f5f5f5,
    success: #e96c4c
  )
);
    
  