$themes: (
  light: (
    main: #FFFFFF,
    primary: #f87979,
    secondary: #f5f5f5,
    accent: #203752,
    success: #23d160
  ),
  dark: (
    main: #212121,
    primary: #f87979,
    secondary: #181818,
    accent: #f5f5f5,
    success: #23d160
  )
);
    
  